/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f9fb; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

body {
	font: 400 12px 'Segoe UI', sans-serif;
	background-color: #ffffff;
	text-align: justify;
	line-height: 22px;
	color: #343c43;
	margin: 0;
}

input, textarea, select {
	font: 400 16px 'Segoe UI', sans-serif;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	border-radius: 3px;
	padding: 5px 10px;
	color: #505c68;
	margin: 2px;
}
div.textEditor {
    display: inline-block;
    margin-top: -23px !important;
    vertical-align: middle;
    width: 140px;
}
div.textEditor select {
    margin: 0 2px;
    padding: 5px 10px;
}
div.textEditor select optgroup { margin: 2px 0; padding: 0; }
div.textEditor select optgroup .h1 { font-size: 26px; }
div.textEditor select optgroup .h2 { font-size: 20px; }
div.textEditor select optgroup .h3 { font-size: 16px; }
div.textEditor select optgroup .h4 { font-size: 12px; }
textarea.textEditor {
    margin: 0;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #067bf9;
}

h1 { font: 400 24px 'Open Sans', sans-serif; color: #000000; }
h2 {
	font: 600 20px 'Open Sans', sans-serif;
	margin: 5px 0 5px 0;
	color: #808080;
}

table td small,
small { line-height: 16px !important; }

#sideBar {
	background-image: url('images/cards.png');
	background-position: bottom right;
	border-right: 1px solid #e0e0e0;
	background-repeat: no-repeat;
	background-color: #fafafa;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	height: 100%;
	z-index: 99;
	width: 17%;
}
#sideBar div.logo {
	background-image: url('images/logo-2.png');
	background-repeat: no-repeat;
	background-size: 190px;
	margin: 10px 15px;
	display: block;
	width: 190px;
	height: 60px;
}
#sideBar .main a {
	font: 400 16px Segoe UI, sans-serif;
	border-bottom: 1px solid #e0e0e0;
	text-decoration: none;
	display: block;
	color: #505c68;
	padding: 15px;
}
#sideBar .main a:hover {
	background-color: #ffffff;
	color: #000000;
}
#sideBar .main .far,
#sideBar .main .fas,
#sideBar .main .fal,
#sideBar .main .fad {
	margin-right: 10px;
}
#sideBar .main .fa-caret-down {
	margin-top: 5px;
	color: #cccccc;
	float: right;
}
#sideBar .credit {
	border-top: 1px solid #e0e0e0;
	position: absolute;
	text-align: center;
	line-height: 16px;
	display: block;
	padding: 15px;
	width: 86.5%;
	bottom: 0;
}
#sideBar .credit a { font-weight: 600; }
#sideBar .slideable ul { margin: 0; width: 100%; }
#sideBar .slideable ul li {
	list-style-type: none;
	margin-left: -22%;
}
#sideBar .slideable ul li a {
	padding: 8px 10px 8px 40px;
	font-size: 13px;
}
#sideBar .slideable ul li a:hover { font-weight: normal; }
#sideBar a[tabindex]:focus {
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

#container {
	position: absolute;
	padding-left: 17.05%;
	margin-left: 0;
	width: 82.95%;
}
#container .topBar {
	border-bottom: 1px solid #e0e0e0;
	background-color: #fafafa;
	overflow: hidden;
	font-size: 16px;
	padding: 15px 25px;
}
#container .topBar .pull-left {
	float: left;
	width: 30%;
}
#container .topBar a {
	color: #343c43;
}
#container .topBar a:hover {
	color: #067bf9;
}
#container .topBar .pull-right {
	margin-top: 4px;
	text-align: right;
	float: right;
	width: 50%;
}
#container .topBar .pull-right span.spacer {
	margin: 0 20px;
}
#container .content {
	padding: 10px 25px 25px 25px;
	line-height: 26px;
	font-size: 16px;
	color: #343c43;
}
#container .content .breadCrumbs {
	border-bottom: 1px solid #f0f0f0;
	padding: 0 0 10px 0;
	font-size: 13px;
	color: #707c88;
}
#container .content .breadCrumbs a { font-weight: 600; }
#container .content .breadCrumbs a:hover { color: #333333; }
#container .content .breadCrumbs span.spacer { margin: 0 10px; }



/* Fontawesome Icons
-------------------------------------------------------------- */
.table-header .fa-users,
.table-header .fa-user-clock,
.table-header .fa-clock {
	color: #505c68;
}
.quickLink .fa-pencil-alt,
.quickLink .fa-image,
.quickLink .fa-upload,
.quickLink .fa-user,
.quickLink .fa-book {
	font-size: 30px;
	color: #505c68;
}



/* Tables and Blocks
-------------------------------------------------------------- */
.table-header {
	font: 600 16px 'Segoe UI', sans-serif;
	border: 1px solid #dadada;
	background-color: #f3f3f3;
	border-radius: 5px 5px 0 0;
	text-align: left;
	color: #6d695e;
	padding: 10px;
}
.flex h2 {
	font: 600 30px 'Segoe UI', sans-serif;
    border-bottom: none;
	margin: 0 0 10px 0;
	color: #505c68;
    width: 100%;
}
.flex h2 .sub-title {
	font: 600 14px 'Segoe UI', sans-serif;
	color: #067bf9;
}
.flex {
	font: 400 12px 'Segoe UI', sans-serif;
	line-height: 18px;
	color: #131313;
	display: flex;
	padding: 1% 2%;
}

.flex > div {
	border: 1px solid #e0e0e0;
	background-color: #fafafa;
	border-radius: 5px;
	text-align: center;
	margin: 0px 10px;
	padding: 10px;
	flex: 1;
}
.table-body .flex > div:first-child { margin-left: 0; }
.table-body .flex > div:last-child { margin-right: 0; }
.table-body .flex tr .rows {
	border-bottom: 1px solid #dddddd;
}

tr:last-child {
	margin-bottom: 20px !important;
}

.quickLink {
	font: 400 12px 'Segoe UI', sans-serif;
	border: 1px solid #e0e0e0;
	background-color: #fafafa;
	display: inline-block;
	padding: 20px 10px;
	border-radius: 5px;
	color: #067bf9;
	width: 90px;
	margin: 5px;
}

.headSub {
	box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.2);
	font: 600 14px 'Open Sans', sans-serif;
	padding: 15px;
	color: #8b909c;
}
.tableSub {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #333333;
    background-color: #272b2f;
    font-size: 14px;
    padding: 15px;
}