code.colors {
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 12px;
    color: #333333;
    padding: 3px 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaaaaa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaaaaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaaaaa;
}

a.btn-cancel { padding: 5px 12px 6px 12px !important; }
input.btn-success[type=button], input.btn-success[type=submit], button.btn-success, 
input.btn-cancel[type=button], input.btn-cancel[type=submit], input.btn-cancel[type=reset], button.btn-cancel, a.btn-cancel,
input.btn-info[type=button], input.btn-info[type=submit], input.btn-info[type=reset], button.btn-info, 
input.btn-warning[type=button], input.btn-warning[type=submit], input.btn-warning[type=reset], button.btn-warning, 
input.btn-default[type=button], input.btn-default[type=submit], input.btn-default[type=reset], button.btn-default {
	text-align: center;
	border-radius: 3px;
	line-height: 14px;
	padding: 8px 15px;
}
input.btn-success[type=button], input.btn-success[type=submit], button.btn-success {
	border: 1px solid #6d953f;
	background-color: #85b24d;
	color: #ffffff;
}
input.btn-cancel[type=button], input.btn-cancel[type=submit], input.btn-cancel[type=reset], button.btn-cancel, a.btn-cancel {
	border: 1px solid #b03047;
	background-color: #ed475f;
	color: #ffffff;
}
input.btn-info[type=button], input.btn-info[type=submit], input.btn-info[type=reset], button.btn-info {
	border: 1px solid #0181b2;
	background-color: #009ad2;
	color: #ffffff;
}
input.btn-warning[type=button], input.btn-warning[type=submit], input.btn-warning[type=reset], button.btn-warning {
	border: 1px solid #be8325;
	background-color: #fbaf35;
	color: #ffffff;
}
input.btn-default[type=button], input.btn-default[type=submit], input.btn-default[type=reset], button.btn-default {
	border: 1px solid #d7e6ef;
	background-color: #e7f0f5;
	color: #85b4ce;
}

.box-warning, .box-error, .box-success, .box-info {
    line-height: 18px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 80%;
}
.box-warning {
    border: 1px solid #ffeeba;
    background-color: #fcf8e3;
    color: #856442;
}
.box-warning b {color: #856442;}
.box-error {
    border: 1px solid #f5c6cb;
    background-color: #f2dede;
    color: #721c24;
}
.box-error b {color: #721c24;}
.box-success {
    border: 1px solid #c3e6cb;
    background-color: #dff0d8;
    color: #155724;
}
.box-success b {color: #155724;}
.box-info {
    border: 1px solid #bee5eb;
    background-color: #d9edf7;
    color: #0c5460;
}
.box-info b {color: #0c5460;}

.cardList {
    font: 400 12px 'Raleway', Open Sans, Segoe UI, sans-serif;
    margin: 0 5px 10px 5px;
    display: inline-block;
    text-align: center;
    width: 130px;
}

.table {
	width: 100%;
	font-size: 12px;
	margin-bottom: 1rem;
	border-collapse: collapse;
	background-color: transparent;
}
.table th,
.table td {
	padding: 0.25rem 0.5rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody { border-top: 2px solid #dee2e6; }
.table .table { background-color: #fff; }

.table-sm th,
.table-sm td { padding: 0.2rem; }

.table-bordered { border: 1px solid #dee2e6; }
.table-bordered th,
.table-bordered td { border: 1px solid #dee2e6; }
.table-bordered thead th,
.table-bordered thead td { border-bottom-width: 2px; }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody { border: 0; }

.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(0, 0, 0, 0.03); }

tr.rows td {
    border-bottom: 1px solid #f3f3f3;
}

table.customTable {
  background-color: #FFFFFF;
  border-collapse: collapse;
  border: 1px solid #e3e3e3;
  color: #999999;
}
table.customTable td, table.customTable th {
  border: 1px solid #e3e3e3;
  padding: 5px;
}
table.customTable tr:nth-child(odd), table.customTable th:nth-child(odd) {
    background-color: #f8f8f8;
}

.calendar {
	font: 400 12px 'Raleway', sans-serif;
	/*padding: 3px 3px !important;*/
	color: #808080;
}
.calendar tbody td { padding: 3px 3px; border-radius: 3px; }
.calendar td.calDay {
	text-transform: uppercase;
	font-weight: 600;
	color: #679ef6;
}
.calendar td.calFocus { background-color: #ffff00; color: #000000; }
.calendar td.calEvent { background-color: #33b5e5; color: #ffffff; }
.calendar td.calUpdate { background-color: #85b24d; color: #ffffff; }
.calendar td.calEnd { background-color: #ed475f; color: #ffffff; }

/* News Pagination Style
-------------------------------------------------------------- */
.pagination {
    font: 300 11px 'Raleway', sans-serif;
	display:inline-block;
	padding-left:0;
	margin:20px 0;
	border-radius:4px
}
.pagination > li { display:inline}
.pagination >li > a,
.pagination > li > span {
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#3f3f3f;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #afafaf;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.pagination >li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination > li > a:focus,
.pagination > li >a:hover,
.pagination > li >span:focus,
.pagination > li >span:hover {
	z-index:2;
	color:#5f5f5f;
	background-color:#eee;
	border-color:#3f3f3f;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index:3;
	color:#3f3f3f;
	cursor:default;
	background-color:#cee7d7;
	border-color:#afafaf;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
	color:#999999;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd
}

/* Member List Tab Style
-------------------------------------------------------------- */
.memberTab {
    font: 400 12px 'Raleway', sans-serif;
    border-bottom: 5px solid #333333;
    overflow: hidden;
    padding: 9px 10px 8px 10px;
    color: #808080;
    float: right;
}
.memberTab a { text-shadow: none; color: #ff9492; }
.memberTab a:hover { background-color: transparent; color: #ffffff; }
.memberTab span.spacer { margin: 0 0 0 10px; }
.memberTab .fa-shopping-cart, .memberTab .fa-user, .memberTab .fa-user-plus,
.memberTab .fa-gift, .memberTab .fa-envelope, .memberTab .fa-sign-in-alt,
.memberTab .fa-sign-out-alt { color: #adab00; }
.memberTab input {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 1px 5px 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: #808080;
    margin: 0 2px;
}
div.memList {
    border: 1px solid #eaeaea;
    background-color: #fafafa;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    width: 163px;
    margin: 5px;
}
div.memName a {
    background-color: #ffe3e6;
    font-size: 16px;
    display: block;
    color: #df818b;
    margin: 5px 0;
    padding: 3px;
}
div.memName a:hover { background-color: #636363; color: #ffffff; }
div.socIcon { margin-left: 0 !important; display: flex; }
div.socIcon li { background-color:transparent; list-style-type: none; text-align: center; margin-left: 0 !important; flex: 1; }

/* Memory Game Style
-------------------------------------------------------------- */
.m-wrap {
  position: relative;
  height: 500px;
  min-height: 500px;
  padding-bottom: 5px;
}

.m-game {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 300px;
  perspective: 300px;
  min-height: 100%;
  height: 100%;
}

@-webkit-keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}
.card {
  float: left;
  width: 16.3%;
  height: 24%;
  padding: 1px;
  text-align: center;
  display: block;
  -webkit-perspective: 600px;
  perspective: 600px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 800px) {
  .card {
    width: 20%;
    height: 16.666%;
  }
}
.card .inside {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.card .inside.picked, .card .inside.matched {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card .inside.matched {
  -webkit-animation: 1s matchAnim ease-in-out;
  animation: 1s matchAnim ease-in-out;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.card .front, .card .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .front img, .card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
.card .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card .back {     
    transform: rotateY(360deg);
}

@media (max-width: 800px) {
  .card .front {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .card .back {
    padding: 10px;
  }
}