/* COLOR PALETTE
#cee7d7 - mint
#eed7ae - gold
#f2bda7 - peach
#f5e9d7 - light gold
#f8efea - light pink
*/

body {
    font: 300 14px 'Raleway', sans-serif;
    background-color: #f8efea;
    text-align: justify;
    line-height: 20px;
    margin: 0 0 0 0;
    color: #3f3f3f;
}
a:link, a:active, a:visited {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    text-decoration: none;
    color: #afafaf;
}
a:hover {
    color: #5f5f5f;
}
hr {
    border: 0;
    height: 0;
    margin: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
blockquote {
    font: italic 400 10pt 'Playfair Display', serif;
    border-left: 1px solid #cee7d7;
    padding: 0 2% 0 4%;
    position: relative;
    line-height: 24px;
    letter-spacing: 0;
    margin: 32px auto;
    max-width: 85%;
    color: #aaaaaa;
    width: 85%;
}
blockquote:after {
    border-bottom: 1px solid #cee7d7;
    font: 700 60px 'Georgia', serif;
    top: 0; bottom: 0; left: -30px;
    border-top: 1px solid #cee7d7;
    background-color: #fcfcfc;
    margin: auto 0 auto 10px;
    padding: 3px 3px 3px 3px;
    position: absolute;
    line-height: 100%;
    content: '\201C';
    color: #cee7d7;
    height: 31px;
    z-index: 10;
}

b { color: #eed7ae; }
i { color: #f2bda7; }
u { color: #cee7d7; }
strong { color: #808080; }
strike, del { color: #cccccc; }

input, textarea, select {
    font: 400 12px 'Raleway', sans-serif;
    border: 1px solid #cee7d7;
    background-color: #ffffff;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #3f3f3f;
    margin: 2px;
}

#wrapper {
    background-color: #fcfcfc;
    padding: 0 30px 30px 30px;
    overflow: auto;
    margin: 0 auto;
    width: 80%;
}
#footer {
    font: 500 11px 'Raleway', sans-serif;
    background-color: #cee7d7;
    color: #5f5f5f;
    overflow: auto;
    margin: 0 auto;
    padding: 30px;
    width: 80%;
}
#footer .credit {
    text-transform: uppercase;
    letter-spacing: 2px;
}
#footer .disclaimer {
    text-transform: normal;
    line-height: 20px;
    margin-top: 20px;
}

/* Header Styles
-------------------------------------------------------------- */
#logo, #logo a {
    font: 300 50pt 'Raleway', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: #eed7ae;
}
#logo { padding: 50px 0 50px 0; }

/* USE THIS FOR HEADER IMAGE LOGO INSTEAD OF TEXT
#logo {
    margin: 0 -30px;
    overflow: auto;
    padding: 0px;
    width: auto;
}
#logo img {
    -webkit-filter: grayscale(50%);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    filter: grayscale(50%);
    object-fit: cover;
    max-width: 100%;
    opacity: 0.7;
}
*/

#menu {
    background-color: #f8efea;
    margin: 0 -30px 30px -30px;
    padding: 20px 0;
    overflow: auto;
    width: auto;
    z-index: 100;
}
#menu a {
    font: italic 400 12pt 'Playfair Display', serif;
    text-transform: lowercase;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0 20px;
    color: #5f5f5f;
}
#menu a::after {
    transition: height .3s ease-in-out;
    transform: rotatex(180deg);
    transform-origin: top;
    margin-bottom: -10px;
    background: #5f5f5f;
    display: block;
    content: '';
    width: 100%;
    height: 0;
}
#menu a:hover::after {
    height: 10px;
}
#menu .pull-left { float: left; }
#menu .pull-left a:first-child { margin-left: 30px !important; }

#menu .pull-right { float: right; }
#menu .pull-right a { margin: 0 10px !important; letter-spacing: 0; }
#menu .pull-right a:last-child { margin-right: 30px !important; }
#menu .icon { display: none; }

.navbar-fixed-top.scrolled {
    width: 85% !important;
    position: fixed;
    top: 0 !important;
    padding: 10px 0 !important;
    background-color: #f8efea !important;
    transition: background-color 200ms linear;
}
.navbar-fixed-top.scrolled .nav-link { color: #ffffff; }

/* Content Layout Styles
-------------------------------------------------------------- */
#container {
    font: 400 12px 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 24px;
    float: left;
    width: 70%;
}

#sidebar {
    font: 400 11px 'Raleway', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
    float: right;
    width: 25%;
}
#sidebar ul {
    margin-left: -40px;
}
#sidebar ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,1);
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
}
#sidebar ul li a {
    text-transform: uppercase;
    color: #3f3f3f;
}
#sidebar ul li a:hover {
    color: #eed7ae;
}
#sidebar blockquote {
    font: italic 400 12px 'Playfair Display', serif;
    background-color: #f8efea;
    text-align: justify;
    color: #5f5f5f;
    padding: 10px;
    border: none;
}
#sidebar blockquote:after {
    background-color: transparent;
    border: none;
    content: '';
}

/* Font Styles and Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #5f5f5f;
    font-size: 700;
}
h1 { font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }
h5 { font-size: 12pt; }
h1.entry-title, h1.entry-title a {
    font: italic 700 20pt 'Playfair Display', serif;
    text-transform: capitalize;
    margin: 0 0 5px 0;
    letter-spacing: 0;
    color: #3f3f3f;
}
h1.entry-title a:hover { color: #f2bda7; }
h2.side-title {
    font: italic 700 16pt 'Playfair Display', serif;
    text-transform: capitalize;
    text-align: left;
    color: #5f5f5f;
}
h2.side-title::after {
    transform: rotatex(180deg);
    transform-origin: top;
    margin-bottom: -10px;
    background: #5f5f5f;
    display: block;
    content: '';
    width: 100%;
    height: 8px;
}

div.date {
    background-color: #cee7d7;
    margin: 0 10px 0 0;
    padding: 10px;
    float: left;
    width: 40px;
}
div.date span.month {
    font: 600 10pt 'Raleway', sans-serif;
    text-shadow: 1px 1px 0 #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #3f3f3f;
}
div.date span.day {
    font: 400 30pt 'Playfair Display', serif;
    text-shadow: 1px 1px 0 #ffffff;
    letter-spacing: -2px;
    padding-bottom: 8px;
    text-align: center;
    line-height: 14pt;
    display: block;
    color: #3f3f3f;
}

div.post-info, div.post-info a {
    font: 400 10px 'Raleway', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #afafaf;
}
div.post-info a:hover {
    color: #3f3f3f;
}
div.post-info span {
    margin-left: 30px;
}
div.post-info span:first-child {
    margin-left: 0;
}

div.entry-footer {
    font: 400 8pt 'Raleway', sans-serif;
    border-top: 3px solid #f8efea;
    margin: 20px 0 50px 0;
    padding: 10px 0 0 0;
    letter-spacing: 0;
    color: #5f5f5f;
}
div.entry-footer a {
    background-color: #f8efea;
    color: #3f3f3f;
    padding: 3px;
}
div.entry-footer a:hover { background-color: #cee7d7; }

ul.news-list li {
    border-bottom: 1px dotted #cccccc;
    list-style-type: none;
    margin-left: -40px;
    padding: 3px 0;
}
ul.news-list li:last-child {
    border-bottom: none;
    padding: 3px 0 0 0;
}

/* Forms Styles
-------------------------------------------------------------- */
form.search-form {
    overflow: hidden;
    width: 100%;
}
input[type="search"] {
    font: 400 11px 'Raleway', sans-serif;
    border: 1px solid #cee7d7;
    background-color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 3px 3px 3px 0;
    letter-spacing: 1px;
    color: #3f3f3f;
    padding: 10px;
    float: left;
    width: 85%;
}
input[type="submit"] {
    background-color: #cee7d7;
    margin: 3px 0 3px 0;
    border: none;
    padding: 10px;
}

.post-icon {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 5px;
}
.post-body {
    line-height: 24px;
    font-size: 14px;
}
.post-game {
    font: 400 12px 'Raleway', sans-serif;
    text-align: center;
}
.post-game a {
    background-color: #f3f3f3;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    color: #808080;
    margin: 2px 0;
    padding: 5px;
}

.border {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 3px;
}
.headLine, .headLineSmall {
    background-color: rgba(234,215,211,0.5);
    text-align: center;
    font-weight: 600;
    color: #dbada3;
    padding: 5px;
}
.headLineSmall, .tableBodySmall { font-size: 14px; }
.tableBody, .tableBodySmall {
    background-color: #f8f8f8;
    padding: 5px;
}

div.statLink, div.statLink2 {
    display: flex;
}
div.statLink a, div.statLink2 a, div.logLink a {
    text-align: center;
    text-shadow: none;
    font-weight: 600;
    padding: 8px;
    margin: 2px;
    flex: 1;
}
div.logLink a {
    display: inline-block;
    width: 185px;
}
div.statLink a:nth-child(odd), div.statLink2 a:nth-child(even), div.logLink a:nth-child(odd) {
    background-color: rgba(166,198,174,0.3);
    color: #86a68e;
}
div.statLink a:nth-child(even), div.statLink2 a:nth-child(odd), div.logLink a:nth-child(even) {
    background-color: rgba(255,161,171,0.3);
    color: #df818b;
}
div.statLink a:hover, div.statLink2 a:hover, div.logLink a:hover {
    background-color: #636363;
    color: #ffffff;
}

/* Tab Content - menucool.com
-------------------------------------------------------------- */
ul.tabs {
    padding: 7px 0;
    margin:0;
    font-size: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
    padding-left: 0; /* Offset of the first tab */
}
ul.tabs li {
    display: inline;
    margin: 0;/*no distance between tabs*/
    background: White;
    margin-left: 0px;
}
ul.tabs li a {
    font: 600 14px 'Raleway', sans-serif;
    background-color: #ffffff;
    /*border: 1px solid #cccccc;*/
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    border-right: 0;
    color: #e36973;
    outline: none;
}
ul.tabs li a:hover {
    color: #FFFFFF;
    background: #333333;
}
ul.tabs li.selected a, ul.tabs li.selected a:hover {
    top: 0px;
    background: #fafafa;
    border-bottom: 1px solid #fafafa;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
	color: #86a68e;
}
ul.tabs li.selected a:hover {
    text-decoration: none;
}
div.tabcontents {
    border: 1px solid #dddddd;
    background-color: #fafafa;
    padding: 20px;
    margin-top: -5px;
}
