body {
	font: 400 14px 'Segoe UI', Open Sans, sans-serif;
	background-image: url('bg.jpg');
	background-repeat: repeat-x;
	background-color: #ffffff;
	margin: 0;
}
a:link, a:active, a:visited {
	text-decoration: none;
	font-weight: 600;
	color: #428bca;
}
a:hover { color: #333333; }

h1 {
	font: 600 30px 'Nunito', sans-serif;
	border-bottom: 1px solid #eaeaea;
	margin: 0 0 10px 0;
	color: #333333;
}

input, textarea, select {
    font: 400 16px 'Segoe UI', sans-serif;
    border: 1px solid #dadada;
    background-color: #fcfcfc;
    border-radius: 3px;
    color: #636363;
    padding: 10px;
    margin: 2px;
}
input.btn-success[type=button], input.btn-success[type=submit], button.btn-success {
    font: 400 16px 'Segoe UI', sans-serif;
    border: 1px solid #639744;
    background-color: #82bf57;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 15px;
}
input.btn-warning[type=button], input.btn-warning[type=submit], input.btn-warning[type=reset], button.btn-warning {
    font: 400 16px 'Segoe UI', sans-serif;
    border: 1px solid #ab3a30;
    background-color: #e84c3d;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 15px;
}
input.btn-primary[type=button], input.btn-primary[type=submit], input.btn-primary[type=reset], button.btn-primary {
    font: 400 16px 'Segoe UI', sans-serif;
    border: 1px solid #2980b9;
    background-color: #3498db;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 15px;
}

#topBar {
	font: 400 14px 'Segoe UI', sans-serif;
	background-color: #333333;
	padding: 0 8%;
	position: fixed;
	color: #aaaaaa;
	display: block;
	z-index: 100;
	width: 84%;
}
#topBar .logo {
	font: 400 20px 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #aaaaaa;
}
#topBar .logo b {
	font-weight: 700;
	color: #428bca;
}
#topBar .pull-left {
	padding: 1.5% 0;
	width: 15%;
	float: left;
}
#topBar .pull-right {
	width: 75%;
	float: right;
	text-align: right;
}
#topBar a {
	text-decoration: none;
	display: inline-block;
	padding: 2.5% 2%;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
}
#topBar a:hover {
	background-color: #000000;
}

#sideBar {
	font: 400 12px 'Segoe UI', sans-serif;
	padding-left: 8%;
	overflow: hidden;
	position: fixed;
	color: #6d695e;
	display: block;
	height: 100%;
	width: 15%;
	top: 59px;
}
#sideBar a {
	font: 600 16px 'Nunito', sans-serif;
	border-left: 3px solid transparent;
	text-transform: uppercase;
	padding: 15px 10px;
    text-align: left;
	display: block;
	color: #8c8784;
}
#sideBar a:hover {
	border-left: 3px solid #428bca;
	background-color: #333333;
	color: #428bca;
}
#sideBar a:target {
	border-left: 3px solid #428bca;
	background-color: #f0f0f0;
	color: #83bed6;
}
#sideBar .slideable { width: 100%; }
#sideBar .slideable a {
    font: 400 12px 'Segoe UI', Nunito, sans-serif;
    text-transform: capitalize;
    padding: 2% 6%;
	letter-spacing: 0;
    text-align: left;
	color: #6d695e;
    display: block;
    width: 88%;
}
#sideBar .slideable a:hover { color: #428bca; }
#sideBar .version {
	font: 400 11px 'Segoe UI', sans-serif;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	text-align: center;
	padding: 10px;
	color: #aaaaaa;
}
#sideBar .version a {
	font: 600 11px 'Segoe UI', Nunito, sans-serif;
	text-transform: capitalize;
	display: inline-block;
	border-left: none;
	padding: 0;
}
#sideBar .version a:hover {
	background-color: transparent;
	border-left: none;
	color: #428bca;
}

#container {
	border: 1px solid #83bed6;
	background-color: #ffffff;
	margin: 0 8% 2% 0;
	border-radius: 5px;
	position: relative;
	color: #636363;
	padding: 1.5%;
	width: 65%;
	left: 24%;
	top: 80px;
}

/* Fontawesome Icons
-------------------------------------------------------------- */
#sideBar .fa-tachometer-alt,
#sideBar .fa-pencil-alt,
#sideBar .fa-home,
#sideBar .fa-store,
#sideBar .fa-cogs {
	margin-bottom: 5px;
	font-size: 24px;
	color: #428bca;
}
#sideBar .fa-shopping-cart,
#sideBar .fa-calendar-alt,
#sideBar .fa-folder-open,
#sideBar .fa-chart-line,
#sideBar .fa-pen-fancy,
#sideBar .fa-box-open,
#sideBar .fa-upload,
#sideBar .fa-image,
#sideBar .fa-globe,
#sideBar .fa-gifts,
#sideBar .fa-user,
#sideBar .fa-star,
#sideBar .fa-cog {
	border-right: 1px solid #83bed6;
	padding: 10px 15px 10px 0;
	margin-right: 10px;
	text-align: center;
	font-size: 16px;
	color: #83bed6;
	height: 18px;
	width: 18px;
}
#topBar .fa-home,
#topBar .fa-user,
#topBar .fa-sign-out-alt {
	color: #428bca;
}
.table-header .fa-users,
.table-header .fa-user-clock,
.table-header .fa-clock {
	color: #428bca;
}
.quickLink .fa-pencil-alt,
.quickLink .fa-image,
.quickLink .fa-upload,
.quickLink .fa-user {
	font-size: 30px;
	color: #83bed6;
}

/* Tables and Blocks
-------------------------------------------------------------- */
.table-header {
	font: 600 16px 'Nunito', sans-serif;
	border: 1px solid #dadada;
	background-color: #f3f3f3;
	border-radius: 5px 5px 0 0;
	text-align: left;
	color: #6d695e;
	padding: 10px;
}
.table-body h2 {
	font: 600 30px 'Nunito', sans-serif;
    border-bottom: none;
	margin: 0 0 10px 0;
	color: #83bed6;
    width: 100%;
}
.table-body h2 .sub-title {
	font: 600 14px 'Nunito', sans-serif;
	color: #83bed6;
}
.table-body {
	font: 400 12px 'Segoe UI', sans-serif;
	border: 1px solid #dadada;
	background-color: #f3f3f3;
	border-radius: 0 0 5px 5px;
	border-top: none;
	line-height: 18px;
	text-align: left;
	color: #737373;
	padding: 10px;
}
.table-body .flex {
	display: flex;
}

.table-body .flex > div {
	border: 1px solid #dadada;
	background-color: #fcfcfc;
	border-radius: 5px;
	text-align: center;
	margin: 0px 5px;
	padding: 10px;
	flex: 1;
}
.table-body .flex > div:first-child { margin-left: 0; }
.table-body .flex > div:last-child { margin-right: 0; }

.record-label {
	font: 600 14px 'Segoe UI', sans-serif;
	border-bottom: 1px solid #dadada;
	background-color: #fcfcfc;
	color: #6d695e;
	padding: 8px 5px;
}
.player-list {
	font: 400 14px 'Segoe UI', sans-serif;
	border-bottom: 1px solid #dadada;
	padding: 8px 5px !important;
}
.quickLink {
	font: 400 16px 'Segoe UI', sans-serif;
	border: 1px solid #dadada;
	background-color: #f3f3f3;
	display: inline-block;
	padding: 30px 10px;
	border-radius: 5px;
	margin: 5px 10px;
	color: #9d9ea2;
	width: 130px;
}

.box-warning, .box-error, .box-success, .box-info, .box-primary {
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}
.box-warning {
    background-color: #e6a23c;
    color: #faecd8;
} .box-warning b { color: #fdf6ec; }
.box-error {
    background-color: #f56c6c;
    color: #fde2e2;
} .box-error b { coloro: #fef0f0; }
.box-success {
    background-color: #67c23a;
    color: #e1f3d8;
} .box-success b { color: #f0f9eb; }
.box-primary {
    background-color: #409eff;
    color: #d9ecff;
} .box-primary b { color: #ecf5ff; }
.box-info {
    background-color: #909399;
    color: #e9e9eb;
} .box-info b { color: #f4f4f5; }

table.customTable {
  background-color: #bababa;
  border-collapse: collapse;
  border: 1px solid #e3e3e3;
  color: #6d695e;
}
table.customTable td, table.customTable th {
  border: 1px solid #e3e3e3;
  padding: 5px;
}
table.customTable tr:nth-child(odd), table.customTable th:nth-child(odd) {
    background-color: #f8f8f8;
}

.headSub {
    font: 600 14px 'Segoe UI', sans-serif;
	background-color: #f0f0f0;
	text-align: center;
	color: #6d695e;
	padding: 10px;
}
.tableSub {
    background-color: #f0f0f0;
    font-size: 14px;
    padding: 10px;
}

/* Pagination
-------------------------------------------------------------- */
.pagination {
    font: 600 16px 'Segoe UI', 'Nunito', sans-serif;
	display:inline-block;
	padding-left:0;
	margin:20px 0;
	border-radius:4px
}
.pagination > li { display:inline}
.pagination >li > a,
.pagination > li > span {
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#428bca;
	text-decoration:none;
	background-color:#ffffff;
	border: 1px solid #dadada;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.pagination >li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination > li > a:focus,
.pagination > li >a:hover,
.pagination > li >span:focus,
.pagination > li >span:hover {
	z-index:2;
	color:#636363;
	background-color:#f3f3f3;
	border: 1px solid #dadada;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	z-index:3;
	color:#fff;
	cursor:default;
	background-color:#428bca;
	border-color:#428bca;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
	color:#636363;
	cursor:not-allowed;
	background-color:#f3f3f3;
	border: 1px solid #dadada;
}