body {
	background-color: #eaeaea;
	margin: 3%;
}
input, textarea, select {
	font: 400 14px 'Segoe UI', sans-serif;
	border: 1px solid #cccccc;
	background-color: #fafafa;
	padding: 5px 10px;
	color: #333333;
	margin: 2px;
}
input.btn-success[type=button], input.btn-success[type=submit], button.btn-success {
	font: 400 16px 'Segoe UI', sans-serif;
	border: 1px solid #639744;
	background-color: #82bf57;
	text-align: center;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px 15px;
}
input.btn-warning[type=button], input.btn-warning[type=submit], input.btn-warning[type=reset], button.btn-warning {
	font: 400 16px 'Segoe UI', sans-serif;
	border: 1px solid #ab3a30;
	background-color: #e84c3d;
	text-align: center;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px 15px;
}
input.btn-primary[type=button], input.btn-primary[type=submit], input.btn-primary[type=reset], button.btn-primary {
	font: 400 16px 'Segoe UI', sans-serif;
	border: 1px solid #2980b9;
	background-color: #3498db;
	text-align: center;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px 15px;
}

table {
	font-size: 14px;
	color: #333333;
}
table.customTable {
	background-color: #ffffff;
	border-collapse: collapse;
	border: 1px solid #e3e3e3;
	color: #333333;
}
table.customTable td, table.customTable th {
	border: 1px solid #e3e3e3;
	padding: 5px;
}
table.customTable tr:nth-child(odd), table.customTable th:nth-child(odd) {
	background-color: #f8f8f8;
}

small { font-size: 12px; }
code { color: #3498db; }
.fa-check { color: #82bf57; }
.fa-times { color: #e84c3d; }

h1 {
	font: 600 30px 'Open Sans', sans-serif;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
	color: #333333;
	margin: 0;
}
h2 {
	font: 600 20px 'Open Sans', sans-serif;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
	color: #636363;
	margin: 0;
}

.box {
	font: 400 14px 'Segoe UI', sans-serif;
	box-shadow: 0 0 20px #cacaca;
	border: 1px solid #cacaca;
	background-color: #ffffff;
	text-align: justify;
	color: #333333;
	max-width: 60%;
	margin: 2% 0;
	padding: 3%;
}

.box-warning, .box-error, .box-success, .box-info, .box-primary {
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}
.box-warning {
    background-color: #e6a23c;
    color: #faecd8;
} .box-warning b { color: #fdf6ec; }
.box-error {
    background-color: #f56c6c;
    color: #fde2e2;
} .box-error b { coloro: #fef0f0; }
.box-success {
    background-color: #67c23a;
    color: #e1f3d8;
} .box-success b { color: #f0f9eb; }
.box-primary {
    background-color: #409eff;
    color: #d9ecff;
} .box-primary b { color: #ecf5ff; }
.box-info {
    background-color: #909399;
    color: #e9e9eb;
} .box-info b { color: #f4f4f5; }